<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Kenny</title>
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/subpage.css" />
  </head>
  <body>
    <main>
      <div class="content subpage">
        <h1 class="subpage">Resume</h1>
        <div class="cv-tbl">
          <h2 class="patch">Work<br />Experience</h2>

          <div class="r-col">
            <div class="elem">
              <p class="time">2022-05 - Present</p>
              <div class="desc-col">
                <p class="t1">Teaching Assistant @ Capstone</p>
                <p class="location">Northeastern University, Vancouver</p>
                <p class="desc">
                  Helped students to finish their own research based project and
                  write finish research papers.
                </p>
              </div>
            </div>

            <div class="elem">
              <p class="time">2022-01 - 2022-05</p>
              <div class="desc-col">
                <p class="t1">Teaching Assistant @ CS5010</p>
                <p class="location">Northeastern University, Vancouver</p>
                <p class="desc">
                  Helped students to get a better understanding of Object
                  Oriented Programming, Design Patterns, Java Programming, MVC
                  (Model View Controller) Patterns, Unit-testing using JUnit and
                  GUI based on Swing. <br />Reviewed thousands of lines of code
                  each week to provide meaningful feedback. Hosted most office
                  hours.
                </p>
              </div>
            </div>

            <div class="elem">
              <p class="time">2020-06 - 2021-08</p>
              <div class="desc-col">
                <p class="t1">Software Engineer</p>
                <p class="location">Tencent, China</p>
                <p class="desc">
                  Improved Kandian Daily's push strategy by applying Uplift
                  Modeling. Increased Kandian Daily's conversion rate by 20%,
                  the click-throughs by 45%, and daily online time by 40%.<br />Maintained
                  Kandain Daily's push backend in C++ and recommendation backend
                  in Golang.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="cv-tbl">
          <h2 class="patch">Education</h2>
          <div class="r-col">
            <div class="elem">
              <p class="time">2021-09 - Present</p>
              <div class="desc-col">
                <a href="https://vancouver.northeastern.edu">
                  <p class="t1">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bd/Northeastern_University_seal.svg/1920px-Northeastern_University_seal.svg.png"
                      alt="NEU logo"
                      class="logo-image"
                    />
                    Northeastern University, Vancouver
                  </p>
                </a>
                <p class="location">
                  MS in Computer Science Candidate, GPA 4.0 / 4.0<br />
                  Vancouver, British Columbia, Canada
                </p>
                <ul>
                  <li><p>CS5010 Programming Design Paradigm</p></li>
                  <li><p>CS5330 Pattern Recogn & Comput Vision</p></li>
                  <li><p>CS5520 Mobile Application Development</p></li>
                  <li><p>CS5800 Algorithms</p></li>
                  <li><p>CS5610 Web Development</p></li>
                </ul>
              </div>
            </div>

            <div class="elem">
              <p class="time">2016-09 - 2020-06</p>

              <div class="desc-col">
                <a href="https://en.ustc.edu.cn/index.htm">
                  <p class="t1">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/Logo_of_University_of_Science_and_Technology_of_China.svg/1920px-Logo_of_University_of_Science_and_Technology_of_China.svg.png"
                      alt="USTC logo"
                      class="logo-image patch"
                    />
                    University of Science and Technology of China
                  </p>
                </a>
                <p class="location">
                  BS in Computer Science, GPA 3.5 / 4.3<br />
                  Hefei, Anhui, China
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
