<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Kenny</title>
    <link rel="stylesheet" href="css/subpage.css" />
    <link rel="stylesheet" href="css/contact.css" />
  </head>
  <body>
    <main>
      <div class="content subpage">
        <h1 class="subpage">Contact</h1>
        <div class="cv-tbl">
          <div>
            <p>Looking forward to hearing from you!</p>
            <div class="footer-item">
              <p class="footer-item-title">phone</p>
              <p>123-456-7890</p>
            </div>
            <div class="footer-item">
              <p class="footer-item-title">Email</p>
              <a
                href="mailto:chen.tianyi1@northeastern.edu"
                title="chen.tianyi1@northeastern.edu"
                ><img
                  src="https://img.icons8.com/ios-filled/100/999999/filled-message.png"
                  class="logo-image"
                  alt="Northeastern University Email"
                />
                <span>chen.tianyi1@northeastern.edu</span></a
              >
            </div>
            <div class="footer-item">
              <p class="footer-item-title">Follow Me</p>
              <a href="https://www.github.com/3andero"
                ><img
                  src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg"
                  alt="3andero@github.com"
                  class="logo-image"
                />
                <span>3andero@github.com</span></a
              >
            </div>
            <div class="footer-item">
              <p class="footer-item-title">Availability</p>
              <div>
                <input
                  type="text"
                  readonly
                  title="Availability"
                  class="date-time-print light"
                />
                <div class="date-time-sub-component">
                  <div class="date-time-switch">
                    <div>
                      <input
                        type="radio"
                        id="dateRBtn"
                        name="DateAndTime"
                        value="date"
                        checked
                      />
                      <label for="dateRBtn"><span>Date</span></label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        id="timeRBtn"
                        name="DateAndTime"
                        value="time"
                      />
                      <label for="timeRBtn"><span>Time</span></label>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="navigation-items navigation-button showDateTimeBtn light"
                  >
                    check
                  </button>
                </div>
              </div>
            </div>
          </div>
          <img
            class="avatar"
            src="https://avatars.githubusercontent.com/u/31029660?s=400&u=13cc5113284fcac3fc0030de18ab2dbd22c5ab3a&v=4"
            alt="avatar"
          />
        </div>
      </div>
    </main>
  </body>
</html>
