<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tianyi (Kenny) Chen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <template id="header">
      <div class="fix-heading-area">
        <div class="heading-area light">
          <div class="name-heading">
            <a href="#" class="frontBtn"
              ><p class="name-heading-en">
                Tianyi<span class="name-heading-cn light" lang="zh-hans"
                  >陈天翼</span
                ><br /><span class="prefered-name-heading">Kenny</span>
                Chen
              </p>
            </a>
            <div class="position">Software Engineer</div>
          </div>
          <nav>
            <div class="navigation">
              <a class="navigation-items frontBtn light" href="#">Main</a>
              <a class="navigation-items aboutBtn light" href="#">About Me</a>
              <a class="navigation-items contactBtn light" href="#"
                >Contact Me</a
              >
              <a
                class="navigation-items navigation-button themeBtn light"
                href="#"
                id="themeBtn1"
                >Night</a
              >
            </div>
          </nav>
        </div>
      </div>
      <div id="header-placeholder"></div>
    </template>

    <template id="footer">
      <div class="footer-item">
        <p class="footer-item-title">phone</p>
        <p>123-456-7890</p>
      </div>
      <div class="footer-item">
        <p class="footer-item-title">Email</p>
        <a href="mailto:chen.tianyi1@northeastern.edu"
          ><img
            src="https://img.icons8.com/ios-filled/100/999999/filled-message.png"
            class="logo-image"
            alt="Northeastern University Email"
        /></a>
      </div>
      <div class="footer-item">
        <p class="footer-item-title">Follow Me</p>
        <a href="https://www.github.com/3andero"
          ><img
            src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg"
            alt="3andero@github.com"
            class="logo-image"
        /></a>
      </div>
      <div class="footer-item">
        <p>© 2022 By Tianyi Chen.</p>
      </div>
    </template>
  </head>
  <body></body>
</html>
